div.input_area {
    border-radius: 2px !important;
    background: #f7f7f7 !important;
}

div.input_area:before {
    display: inline-block;
    content: " ";
    width: 1000px;
    height: 15px;
    padding-bottom: 25px;
    background: white
}

.site-title {
    font-size: 20px !important;
}