name: see-payload
on: [gollum]

jobs:

  see-payload:
    runs-on: ubuntu-latest
    steps:

    - name: write payload
      run: |
        cat $GITHUB_EVENT_PATH > payload.json

    - name: Upload payload
      uses: actions/upload-artifact@v1
      with:
        name: payload
        path: payload.json
